.figure__caption {
    /* font-family: serif; */
    background: cornsilk;
    text-align: center;
}

body {
    font-family: sans-serif;
    text-align: left;
}

* {
    margin-left: auto;
    margin-right: auto;
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.figure {
    margin-top: 16px;
}

.article {
    background: rgba(255, 0, 0, 0);
}

.figure__caption {
    margin-bottom: 1rem;
}

.figure__image {
    margin-bottom: 8px;
    max-width: 100%;
}

.figure__image,
.figure__caption {
    margin: 8px 0 0;
    font-style: italic;
    font-family: sans-serif;
}

.article {
    max-width: 680px;
    padding: 24px;
    font-family: sans-serif;
}

.article__heading {
    margin: 0 0 1.5rem 0;
    color: palevioletred
}
